*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.image-slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.image-slider img {
  display: block;
  width: 100%;
  height: auto;
}

.image-slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.image-slider button:focus {
  outline: none;
}

.image-slider button:first-of-type {
  left: 10px;
}

.image-slider button:last-of-type {
  right: 10px;
}
